@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

.card{
    padding: 5px;
    margin: 25px 0px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    width: 60vw;
    text-align: center;
    display: flex;
}

.float{
    float:left;
    font-size: 25px;
}


#icon-right{
    font-size: 30px;
}

#icon-left{
    position:relative;
    margin-left: 1%;
}

#center{
    width: 100%;
    font-family: 'Lato', sans-serif;
}